#Ignore  directories
room_classifier/
image_classifier/


#Ignore files
flask_backend/room_classifier_resnet50.pth
flask_backend/yolov8s-seg.pt
flask_backend/static
flask_backend/.env

*.pyc
__pycache__/
env/
.venv/
